# Copia este archivo a .env y completa los valores.

PORT=4000

# JWT
JWT_SECRET=pon_una_clave_larga_y_segura

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=tu_usuario
MYSQL_PASSWORD=tu_password
MYSQL_DATABASE=tu_base_de_datos

# (Opcional) Tiempo máximo para conectar (ms)
MYSQL_CONNECT_TIMEOUT_MS=5000

